* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form2 {
  margin-top: 7px;
  margin-right: 11%;
}

input[type="number" i] {
  padding: 1px 2px;
  margin-bottom: 8px;
}

button {
  margin: 5px;
}

button, input[type="text"] {
  padding: 5px;
  margin-bottom: 8px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#bookmark-list {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.bookmark {
  margin-bottom: 10px;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border-radius: 25px;
  border: 1px solid grey;
  padding: 20px;
}

.bookmark-list {
  display: block;
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
}

a {
  margin-bottom: 5px;
  color: black;
}

a:hover {
  color: blue;
}

.error-container {
  background-color: red;
  color: white;
  font-weight: bold;
}

.error-container h2 {
  font-size: 20px;
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
}